.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid whitesmoke;
}
.header_logo{
    object-fit: contain;
    height: 40px;
    cursor: pointer;
}
.header_icon{
    padding: 20px;
}